@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    margin: 0;
    padding: 15px;
    background-color: hsl(30, 38%, 92%);
    font-family: "Montserrat", serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    overflow: hidden;
}
@media (max-width:767px){
    .card {
        margin: 50px auto;
    }
}
.card .image{
    width:50%;
    background-image: url("./images/image-product-desktop.jpg");
    background-size:100% 100%;
}
@media (max-width:767px){
    .card .image{
        width: 100%;
        height: 250px;
        background-image: url("./images/image-product-mobile.jpg");
    }
}
.card .details{
    width:50%;
    padding: 30px;
}
@media (max-width:767px){
    .card .details{
        width: 100%;
        padding: 20px;
    }
}
.card .details p:first-of-type{
    color: hsl(228, 12%, 48%);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;
}
.card .details h1{
    font-family: "Fraunces", serif;
    color: hsl(212, 21%, 14%);
    font-weight: 700;
}
.card .details p:last-of-type{
    color: hsl(228, 12%, 48%);
    font-size: 14px;
    line-height: 1.4rem;
}
.card .details div{
    display: flex;
    align-items: center;
}
.card .details div span:first-child{
    color: hsl(158, 36%, 37%);
    font-weight: 700;
    font-size: 30px;
    margin-right: 20px;
}
.card .details div span:last-child{
    color: hsl(228, 12%, 48%);
    font-size: 14px;
    text-decoration: line-through;
}
.card .details button{
    width: 100%;
    border: none;
    outline: none;
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    font-size: 16px;
    background-color: hsl(158, 36%, 37%);
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
}
.card .details button:hover{
    background-color: hsl(156, 42%, 18%);
}
.card .details button img{
    margin-right:10px;
}
